## Graph Similarity Search Project ##
### This is the implementation for the similarity search project using python with Neo4j

In [128]:
# This program fetches the required user's facebook data via the free facebook api.
# It currently fetches friend's data, but it can be extended.
# Author: Ajose Opeyemi

# importing the requests library for fetching the required webpage
import requests as r
import pandas as pd
import json

# setting up parameters
# Importing the "friend's" list downloaded from facebook
file = r"C:\Users\Victor\Desktop\Bae\Code files\facebook-Elvicharde\friends_and_followers\friends.json"
with open(file) as friends_data:
    friends = json.load(friends_data)
    friends_data.close()

In [129]:
# Parsing and handling the data

me = "Elvicharde"
friends_list = friends['friends_v2']

for friend in friends_list:
    #cleaning up the imported data
    friend['ID'] = friend.pop('timestamp')
    friend['Friends'] = friend.pop('name')
    
friends_data = pd.DataFrame(friends_list)    #Setting up a dataframe
del friends_data['contact_info']    # Cleaning up the dataframe.
print(friends_data)    # Printing the first 3 rows

             ID                   Friends
0    1627383250               Collins Obi
1    1626987935  Ademola Ebenezer Adeyemi
2    1626987929           Blessing Mathew
3    1626987884               Tosin Akeem
4    1622810997          Olaniyi Akintayo
..          ...                       ...
783  1268394361              Sodique Alim
784  1268329470       OluBorode Damie Ope
785  1268329416         OluwaTosin Fabrio
786  1268245796                 Sorad Jnr
787  1268242864              Demi Dinakin

[788 rows x 2 columns]

## Interfacing with Neo4j for visualization and query

In [130]:
# Creating the connection
from neo4j import GraphDatabase, basic_auth
from random import randint as randint


####### import data into neo4j ##### 
#from neo4j import GraphDatabase

friends_list = friends_data.values.tolist()
commands = []

# illegal_names = [1603558328,1589458329,1576927897,1574813063,1574452201,
#                  1571760211,1548836078,1504036137,1499675661,1451300849,1304871572]

root_user = 'CREATE (root:user {Name:"Elvicharde", ID:"root_node"})'    # The logged-in user/ account holder

commands.append(root_user)    #Adding the user creation and alias to the cypher query list

# Creating friends and matching to the root node
for i in friends_list:
#    if ((i[0] not in illegal_names) and (i[1].find('-') < 0)):
    create_friends = (f'CREATE (f:friend {{Name: "{i[1]}", ID: {i[0]}}})')
    create_relationships = f'MATCH (f:friend{{Name:"{i[1]}"}}), (root:user{{Name:"Elvicharde"}}) CREATE (f)-[:FRIENDS_WITH{{since: {randint(2010, 2021)}}}]->(root) RETURN * LIMIT 1'
    # else:
#     continue
    commands.append(create_friends)
    commands.append(create_relationships)
commands[:5]

['CREATE (root:user {Name:"Elvicharde", ID:"root_node"})',
 'CREATE (f:friend {Name: "Collins Obi", ID: 1627383250})',
 'MATCH (f:friend{Name:"Collins Obi"}), (root:user{Name:"Elvicharde"}) CREATE (f)-[:FRIENDS_WITH{since: 2010}]->(root) RETURN * LIMIT 1',
 'CREATE (f:friend {Name: "Ademola Ebenezer Adeyemi", ID: 1626987935})',
 'MATCH (f:friend{Name:"Ademola Ebenezer Adeyemi"}), (root:user{Name:"Elvicharde"}) CREATE (f)-[:FRIENDS_WITH{since: 2018}]->(root) RETURN * LIMIT 1']

In [131]:
# Connect to database
data_base_connection = GraphDatabase.driver(#uri = #"bolt://54.89.206.251:7687", auth=basic_auth("neo4j", "advancement-characteristic-energy")) #for sandbox connection
uri = 'bolt://localhost:7687', auth = basic_auth('neo4j','similarity')) # for local dbms connection
session = data_base_connection.session()

def execute_commands(commands, session, type = 0):
    if not type:
        # re-setting database to clean status
        if session.run('MATCH (n) RETURN n'):
            database_cleanup = 'MATCH (n) DETACH DELETE (n)'
            session.run(database_cleanup)
    
    # Populating with new data
    for i in commands:
        session.run(i)

        
execute_commands(commands, session)

In [132]:
# Adding more relationships to the existing nodes e.g. Attended $University, Lives in $Location

state_string = '''FC|Abuja AB|Abia AD|Adamawa AK|Akwa_Ibom AN|Anambra BA|Bauchi BY|Bayelsa BE|Benue BO|Borno CR|Cross_River DE|Delta EB|Ebonyi ED|Edo\
 EK|Ekiti EN|Enugu GO|Gombe IM|Imo JI|Jigawa KD|Kaduna KN|Kano KT|Katsina KE|Kebbi KO|Kogi KW|Kwara LA|Lagos NA|Nassarawa NI|Niger OG|Ogun ON|Ondo OS|Osun
OY|Oyo PL|Plateau RI|Rivers SO|Sokoto TA|Taraba YO|Yobe ZA|Zamfara'''

location_node = state_string.split(' ')    # cleaning up the string
state_dict = {}    # Setting up the state dictionary

for i in range(len(location_node)):
    x = location_node[i].split('|')
    state_dict[x[0]] = x[1]

state_dict    # final dictionary for label

{'FC': 'Abuja',
 'AB': 'Abia',
 'AD': 'Adamawa',
 'AK': 'Akwa_Ibom',
 'AN': 'Anambra',
 'BA': 'Bauchi',
 'BY': 'Bayelsa',
 'BE': 'Benue',
 'BO': 'Borno',
 'CR': 'Cross_River',
 'DE': 'Delta',
 'EB': 'Ebonyi',
 'ED': 'Edo',
 'EK': 'Ekiti',
 'EN': 'Enugu',
 'GO': 'Gombe',
 'IM': 'Imo',
 'JI': 'Jigawa',
 'KD': 'Kaduna',
 'KN': 'Kano',
 'KT': 'Katsina',
 'KE': 'Kebbi',
 'KO': 'Kogi',
 'KW': 'Kwara',
 'LA': 'Lagos',
 'NA': 'Nassarawa',
 'NI': 'Niger',
 'OG': 'Ogun',
 'ON': 'Ondo',
 'OS': 'Osun\nOY',
 'PL': 'Plateau',
 'RI': 'Rivers',
 'SO': 'Sokoto',
 'TA': 'Taraba',
 'YO': 'Yobe',
 'ZA': 'Zamfara'}

In [133]:
Uni_string = '''Mewar International University Nasarawa, Adekunle Ajasin University Ondo, Federal University of Agriculture Ogun, \
Obafemi Awolowo University Osun, Abia State University Abia, Joseph Ayo Babalola University Osun, Redeemers University Nigeria Osun, \
Adeleke University Osun Afe Babalola University Ekiti,  Akwa_Ibom State University Akwa_Ibom, Bakassi Technical University Akwa_Ibom, \
American University of Nigeria Adamawa, Abubakar Tafawa Balewa University Bauchi, Adamawa State University Adamawa, Achievers University Ondo'''

Uni_list = [University for University in Uni_string.split(',')]
Uni_dict = {}

for i in range(len(Uni_list)):
    x = Uni_list[i].rpartition(' ')
    Uni_dict[x[2]] = x[0].strip(' ')


Uni_dict

{'Nasarawa': 'Mewar International University',
 'Ondo': 'Achievers University',
 'Ogun': 'Federal University of Agriculture',
 'Osun': 'Redeemers University Nigeria',
 'Abia': 'Abia State University',
 'Ekiti': 'Adeleke University Osun Afe Babalola University',
 'Akwa_Ibom': 'Bakassi Technical University',
 'Adamawa': 'Adamawa State University',
 'Bauchi': 'Abubakar Tafawa Balewa University'}

In [134]:
# Updating properties of nodes

new_commands = []
Universities = list(Uni_dict.keys())
States = list(state_dict.keys())

for i in friends_list:
    x = randint(0,len(Universities)-1)
    y = randint(0,len(States)-1)
    University = Uni_dict[Universities[x]]
    State = state_dict[States[y]]
    Query_1 = f'MATCH (f {{Name: "{i[1]}"}}) SET f.ATTENDED = "{University}" RETURN * LIMIT 1'
    Query_2 = f'MATCH (f {{Name: "{i[1]}"}}) SET f.LIVES_IN = "{State}" RETURN * LIMIT 1'

    new_commands.append(Query_1)
    new_commands.append(Query_2)

new_commands

['MATCH (f {Name: "Collins Obi"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Collins Obi"}) SET f.LIVES_IN = "Ebonyi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ademola Ebenezer Adeyemi"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ademola Ebenezer Adeyemi"}) SET f.LIVES_IN = "Katsina" RETURN * LIMIT 1',
 'MATCH (f {Name: "Blessing Mathew"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Blessing Mathew"}) SET f.LIVES_IN = "Kebbi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Tosin Akeem"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Tosin Akeem"}) SET f.LIVES_IN = "Kaduna" RETURN * LIMIT 1',
 'MATCH (f {Name: "Olaniyi Akintayo"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Olaniyi Akintayo"}) SET f.LIVES_IN = "Borno" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ilemona Fred Yahaya"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ilemona Fred Yahaya"}) SET f.LIVES_IN = "Kogi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Johnson Ayomikun"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Johnson Ayomikun"}) SET f.LIVES_IN = "Yobe" RETURN * LIMIT 1',
 'MATCH (f {Name: "Har Bih Keh Ade"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Har Bih Keh Ade"}) SET f.LIVES_IN = "Katsina" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adelabu Adeniyi"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adelabu Adeniyi"}) SET f.LIVES_IN = "Kaduna" RETURN * LIMIT 1',
 'MATCH (f {Name: "Sanusi Saburi"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Sanusi Saburi"}) SET f.LIVES_IN = "Delta" RETURN * LIMIT 1',
 'MATCH (f {Name: "Kemisola Oguntuase"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Kemisola Oguntuase"}) SET f.LIVES_IN = "Delta" RETURN * LIMIT 1',
 'MATCH (f {Name: "Osagie Osarodion"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Osagie Osarodion"}) SET f.LIVES_IN = "Edo" RETURN * LIMIT 1',
 'MATCH (f {Name: "Rotimi Matthew"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Rotimi Matthew"}) SET f.LIVES_IN = "Ekiti" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ukpong Godwin"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ukpong Godwin"}) SET f.LIVES_IN = "Enugu" RETURN * LIMIT 1',
 'MATCH (f {Name: "Princess Jully"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Princess Jully"}) SET f.LIVES_IN = "Kano" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oyetunde Kenny"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oyetunde Kenny"}) SET f.LIVES_IN = "Cross_River" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ojo Oluwamodupe"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ojo Oluwamodupe"}) SET f.LIVES_IN = "Plateau" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oguntuase Solomon"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oguntuase Solomon"}) SET f.LIVES_IN = "Adamawa" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adafin Hannah"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adafin Hannah"}) SET f.LIVES_IN = "Ondo" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oyewusi Segun"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oyewusi Segun"}) SET f.LIVES_IN = "Osun\nOY" RETURN * LIMIT 1',
 'MATCH (f {Name: "AkinadÃ© BabÃ¡yáº¹mÃ\xad"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "AkinadÃ© BabÃ¡yáº¹mÃ\xad"}) SET f.LIVES_IN = "Borno" RETURN * LIMIT 1',
 'MATCH (f {Name: "Festus Arogundade"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Festus Arogundade"}) SET f.LIVES_IN = "Bayelsa" RETURN * LIMIT 1',
 'MATCH (f {Name: "Alice Mike"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Alice Mike"}) SET f.LIVES_IN = "Ekiti" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ganiyat Sanni"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ganiyat Sanni"}) SET f.LIVES_IN = "Ekiti" RETURN * LIMIT 1',
 'MATCH (f {Name: "Bright Aniekan"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Bright Aniekan"}) SET f.LIVES_IN = "Yobe" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ojq PowerTech"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ojq PowerTech"}) SET f.LIVES_IN = "Abia" RETURN * LIMIT 1',
 'MATCH (f {Name: "Elijah Agbo"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Elijah Agbo"}) SET f.LIVES_IN = "Plateau" RETURN * LIMIT 1',
 'MATCH (f {Name: "Rachael Omolola Adeparusi"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Rachael Omolola Adeparusi"}) SET f.LIVES_IN = "Kano" RETURN * LIMIT 1',
 'MATCH (f {Name: "Chacha Ukpong"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Chacha Ukpong"}) SET f.LIVES_IN = "Ogun" RETURN * LIMIT 1',
 'MATCH (f {Name: "Akpor Austin Adajero"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Akpor Austin Adajero"}) SET f.LIVES_IN = "Borno" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adejumoke Aderonke Adebiyi Ajilore"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adejumoke Aderonke Adebiyi Ajilore"}) SET f.LIVES_IN = "Lagos" RETURN * LIMIT 1',
 'MATCH (f {Name: "Joshua Ayibapiriye Agama"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Joshua Ayibapiriye Agama"}) SET f.LIVES_IN = "Katsina" RETURN * LIMIT 1',
 'MATCH (f {Name: "Amaka Nnacheta"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Amaka Nnacheta"}) SET f.LIVES_IN = "Osun\nOY" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ayodele Sunday"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ayodele Sunday"}) SET f.LIVES_IN = "Plateau" RETURN * LIMIT 1',
 'MATCH (f {Name: "Theresa Awokoya"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Theresa Awokoya"}) SET f.LIVES_IN = "Jigawa" RETURN * LIMIT 1',
 'MATCH (f {Name: "Enyi Job Olawale Ikete"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Enyi Job Olawale Ikete"}) SET f.LIVES_IN = "Bauchi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Omoemi Emmanuel Adesanya"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Omoemi Emmanuel Adesanya"}) SET f.LIVES_IN = "Kogi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Alaa Ter"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Alaa Ter"}) SET f.LIVES_IN = "Akwa_Ibom" RETURN * LIMIT 1',
 'MATCH (f {Name: "Mosunmola Adedeji Ogunlolu"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Mosunmola Adedeji Ogunlolu"}) SET f.LIVES_IN = "Kano" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oladepo Tolulope Paul"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oladepo Tolulope Paul"}) SET f.LIVES_IN = "Ondo" RETURN * LIMIT 1',
 'MATCH (f {Name: "Folarin Anifalaje"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Folarin Anifalaje"}) SET f.LIVES_IN = "Ebonyi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Olufemi Olaoluwa David"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Olufemi Olaoluwa David"}) SET f.LIVES_IN = "Kwara" RETURN * LIMIT 1',
 'MATCH (f {Name: "Telufusi Olawunmi"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Telufusi Olawunmi"}) SET f.LIVES_IN = "Lagos" RETURN * LIMIT 1',
 'MATCH (f {Name: "Alexander Kira"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Alexander Kira"}) SET f.LIVES_IN = "Ondo" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ayooluwa Omotosho"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ayooluwa Omotosho"}) SET f.LIVES_IN = "Ebonyi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Stjohn Paul"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Stjohn Paul"}) SET f.LIVES_IN = "Ebonyi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ð\x9fÐµÑ\x82Ñ\x80Ð¾Ð² Ð®Ñ\x80Ñ\x8cÐµÐ²Ð¸Ñ\x87 Ð\x9cÐ¸Ñ\x85Ð°Ð¸Ð»"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ð\x9fÐµÑ\x82Ñ\x80Ð¾Ð² Ð®Ñ\x80Ñ\x8cÐµÐ²Ð¸Ñ\x87 Ð\x9cÐ¸Ñ\x85Ð°Ð¸Ð»"}) SET f.LIVES_IN = "Cross_River" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ibironke Bayode Adeleye"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ibironke Bayode Adeleye"}) SET f.LIVES_IN = "Kogi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Fapohunda Ezekiel Olutola"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Fapohunda Ezekiel Olutola"}) SET f.LIVES_IN = "Sokoto" RETURN * LIMIT 1',
 'MATCH (f {Name: "Sedode Oyediran"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Sedode Oyediran"}) SET f.LIVES_IN = "Akwa_Ibom" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ayinde Adewale Emmanuel"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ayinde Adewale Emmanuel"}) SET f.LIVES_IN = "Zamfara" RETURN * LIMIT 1',
 'MATCH (f {Name: "Yusuf Wuraola Thomas"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Yusuf Wuraola Thomas"}) SET f.LIVES_IN = "Rivers" RETURN * LIMIT 1',
 'MATCH (f {Name: "Iins Iins"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Iins Iins"}) SET f.LIVES_IN = "Kebbi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ex Zi My"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ex Zi My"}) SET f.LIVES_IN = "Jigawa" RETURN * LIMIT 1',
 'MATCH (f {Name: "Charlie Snow"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Charlie Snow"}) SET f.LIVES_IN = "Rivers" RETURN * LIMIT 1',
 'MATCH (f {Name: "Henry Okolie"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Henry Okolie"}) SET f.LIVES_IN = "Lagos" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeosun Dorcas"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeosun Dorcas"}) SET f.LIVES_IN = "Niger" RETURN * LIMIT 1',
 'MATCH (f {Name: "Odion Olenloa"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Odion Olenloa"}) SET f.LIVES_IN = "Ebonyi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oluwafunmilayo Adebimpe Ayat"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oluwafunmilayo Adebimpe Ayat"}) SET f.LIVES_IN = "Taraba" RETURN * LIMIT 1',
 'MATCH (f {Name: "Dotun Oguntuase"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Dotun Oguntuase"}) SET f.LIVES_IN = "Taraba" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oke Temitope Oluwaseyi"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oke Temitope Oluwaseyi"}) SET f.LIVES_IN = "Abia" RETURN * LIMIT 1',
 'MATCH (f {Name: "Aremu Olamide Adekola"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Aremu Olamide Adekola"}) SET f.LIVES_IN = "Anambra" RETURN * LIMIT 1',
 'MATCH (f {Name: "Bello Ruqauyeart"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Bello Ruqauyeart"}) SET f.LIVES_IN = "Sokoto" RETURN * LIMIT 1',
 'MATCH (f {Name: "Omolara Asenowo Oluwaseyi"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Omolara Asenowo Oluwaseyi"}) SET f.LIVES_IN = "Katsina" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeolu Adesanya"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeolu Adesanya"}) SET f.LIVES_IN = "Niger" RETURN * LIMIT 1',
 'MATCH (f {Name: "Josephine Eze"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Josephine Eze"}) SET f.LIVES_IN = "Kwara" RETURN * LIMIT 1',
 'MATCH (f {Name: "Peter Olutayo Ajala"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Peter Olutayo Ajala"}) SET f.LIVES_IN = "Cross_River" RETURN * LIMIT 1',
 'MATCH (f {Name: "Eze Josephine"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Eze Josephine"}) SET f.LIVES_IN = "Ebonyi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adebayo Adedeji Cidheek"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adebayo Adedeji Cidheek"}) SET f.LIVES_IN = "Kano" RETURN * LIMIT 1',
 'MATCH (f {Name: "Afolabi Rotimi"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Afolabi Rotimi"}) SET f.LIVES_IN = "Nassarawa" RETURN * LIMIT 1',
 'MATCH (f {Name: "Toluwalope Orotoye"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Toluwalope Orotoye"}) SET f.LIVES_IN = "Ekiti" RETURN * LIMIT 1',
 'MATCH (f {Name: "Taiwo Akeju"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Taiwo Akeju"}) SET f.LIVES_IN = "Jigawa" RETURN * LIMIT 1',
 'MATCH (f {Name: "TI TIestilos Dandy"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "TI TIestilos Dandy"}) SET f.LIVES_IN = "Kebbi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Esther Adenawo Ayoola"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Esther Adenawo Ayoola"}) SET f.LIVES_IN = "Gombe" RETURN * LIMIT 1',
 'MATCH (f {Name: "Udeme Ikpoto"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Udeme Ikpoto"}) SET f.LIVES_IN = "Jigawa" RETURN * LIMIT 1',
 'MATCH (f {Name: "Lovina Joseph"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Lovina Joseph"}) SET f.LIVES_IN = "Bauchi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Melvin Sylvester"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Melvin Sylvester"}) SET f.LIVES_IN = "Abuja" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oguntuase Abigail"}) SET f.ATTENDED = "Adamawa State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oguntuase Abigail"}) SET f.LIVES_IN = "Katsina" RETURN * LIMIT 1',
 'MATCH (f {Name: "Allen Oghale Ossuetta"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Allen Oghale Ossuetta"}) SET f.LIVES_IN = "Borno" RETURN * LIMIT 1',
 'MATCH (f {Name: "Dupe Obi"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Dupe Obi"}) SET f.LIVES_IN = "Kano" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ajose Temitayo Abimbola Arowora"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ajose Temitayo Abimbola Arowora"}) SET f.LIVES_IN = "Abia" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ajiola Bosede"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ajiola Bosede"}) SET f.LIVES_IN = "Katsina" RETURN * LIMIT 1',
 'MATCH (f {Name: "OlaOluwa Simon Yaya"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "OlaOluwa Simon Yaya"}) SET f.LIVES_IN = "Gombe" RETURN * LIMIT 1',
 'MATCH (f {Name: "Okey Okoye"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Okey Okoye"}) SET f.LIVES_IN = "Katsina" RETURN * LIMIT 1',
 'MATCH (f {Name: "Tunde A Adepoju"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Tunde A Adepoju"}) SET f.LIVES_IN = "Yobe" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adekunle Ademola"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adekunle Ademola"}) SET f.LIVES_IN = "Kwara" RETURN * LIMIT 1',
 'MATCH (f {Name: "Yekini Tokunbo"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Yekini Tokunbo"}) SET f.LIVES_IN = "Bayelsa" RETURN * LIMIT 1',
 'MATCH (f {Name: "Fatade Funmilayo"}) SET f.ATTENDED = "Adeleke University Osun Afe Babalola University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Fatade Funmilayo"}) SET f.LIVES_IN = "Ondo" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adepoju Oladehinde Kamorudeen"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adepoju Oladehinde Kamorudeen"}) SET f.LIVES_IN = "Adamawa" RETURN * LIMIT 1',
 'MATCH (f {Name: "AdÃ©jÃ¹mÃ² Uthman AjÃ\xadbÃ³lÃ¡"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "AdÃ©jÃ¹mÃ² Uthman AjÃ\xadbÃ³lÃ¡"}) SET f.LIVES_IN = "Ogun" RETURN * LIMIT 1',
 'MATCH (f {Name: "Owoeye Femi"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Owoeye Femi"}) SET f.LIVES_IN = "Rivers" RETURN * LIMIT 1',
 'MATCH (f {Name: "Habbey Ogunyemi"}) SET f.ATTENDED = "Adamawa State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Habbey Ogunyemi"}) SET f.LIVES_IN = "Zamfara" RETURN * LIMIT 1',
 'MATCH (f {Name: "Fase Joshua"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Fase Joshua"}) SET f.LIVES_IN = "Kano" RETURN * LIMIT 1',
 'MATCH (f {Name: "Abiola Matem"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Abiola Matem"}) SET f.LIVES_IN = "Benue" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ahambe Celestine"}) SET f.ATTENDED = "Redeemers University Nigeria" RETURN * LIMIT 1',
 'MATCH (f {Name: "Ahambe Celestine"}) SET f.LIVES_IN = "Rivers" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adekunle Oluwatosin Adeola"}) SET f.ATTENDED = "Federal University of Agriculture" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adekunle Oluwatosin Adeola"}) SET f.LIVES_IN = "Benue" RETURN * LIMIT 1',
 'MATCH (f {Name: "Nwaroh Emmanuel"}) SET f.ATTENDED = "Bakassi Technical University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Nwaroh Emmanuel"}) SET f.LIVES_IN = "Abia" RETURN * LIMIT 1',
 'MATCH (f {Name: "Favour Ngozi"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Favour Ngozi"}) SET f.LIVES_IN = "Akwa_Ibom" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oluwatosin Durodoola"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oluwatosin Durodoola"}) SET f.LIVES_IN = "Kogi" RETURN * LIMIT 1',
 'MATCH (f {Name: "Benard Icha"}) SET f.ATTENDED = "Achievers University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Benard Icha"}) SET f.LIVES_IN = "Borno" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeniyi Adejare"}) SET f.ATTENDED = "Mewar International University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeniyi Adejare"}) SET f.LIVES_IN = "Zamfara" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeoye-Makinde Adeola Eunice"}) SET f.ATTENDED = "Abubakar Tafawa Balewa University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Adeoye-Makinde Adeola Eunice"}) SET f.LIVES_IN = "Zamfara" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oseyemi Opadotun"}) SET f.ATTENDED = "Abia State University" RETURN * LIMIT 1',
 'MATCH (f {Name: "Oseyemi Opadotun"}) SET f.LIVES_IN = "Kebbi" RETURN * LIMIT 1',

In [139]:
# Updating the new reationships
execute_commands(new_commands, session, type = 1)

## Running The Graph algorithms

In [ ]:
# First algorithm




# Defining search functions

def cosine_similarity(query, graph, cut_off, limit, relationship):
    '''
    This function queries the input graph for the user-defined query.
    Since similarity is required. The function returns a dictionary
    of the retrieved nodes and their corresponding
    cosine similarity measure with respect to the query. 
    
    '''

    
    pass


def euclidian_distance(query, graph, cut_off, limit):
    '''
    This function queries the input graph for the user-defined query.
    Since similarity is required. The function returns a dictionary
    of the retrieved nodes and their corresponding
    similarity measure (euclidian distance measure) with the query. 
    
    '''
    pass


def node_similarity(query, graph, cut_off, limit):
    '''
    This function queries the input graph for the user-defined query.
    Since similarity is required. The function returns a dictionary
    of the retrieved nodes and their corresponding
    KNN-based similarity measure with the query. 
    
    '''
    pass